.jumbotron {
  color:  #4099FF;
  padding-bottom: 450px;
  background-image: url("http://oi64.tinypic.com/es27wn.jpg");
  background-position: -60px -20px;
}
.jumbotron .btn-primary {
  background: #845ac7;
  border-color: #845ac7;
}
.jumbotron .btn-primary:hover {
  background: #7646c1;
}
.jumbotron p {
  color: #000000;
  max-width: 100%;
  margin: 1em auto 2em;
}
.jumbotron h1 {
  font-size: 40px;
}
.navbar + .jumbotron {
  margin-top: -20px;
}
.jumbotron .lang-logo {
  display: block;
  background: #B01302;
  border-radius: 50%;
  overflow: hidden;
  width: 100px;
  height: 100px;
  margin: auto;
  border: 2px solid white;
}
.jumbotron .lang-logo img {
  max-width: 100%;
}
#imageOverlay{
  background-color: rgba(255,255,255,0.2);
  border: 1px solid #c7c7c7;
  width: 500px;
}