{% extends "layout.html" %}

{% block content %}
<style>
.text{
  background-color:white;
  width:auto;
}
h2{
  width:auto;
}
</style>
<div class="container" style="background-image: url(http://s30.postimg.org/x5xbkczxd/IMG_1900.jpg)">
    <div class="row">
        <p>
        <div class="text">
<h2> Camridge Computing Museum</h2>
</div>
<div class="text">
<p>We ventured out to the Cambridge Computing Museum on Saturday, seeing different bits of tech throughout time and observing the evolution of game consoles. I tried out Galaga, Donkey Kong and the Oculus rift.</p>



            </p>
            </div>
       <div class="text">
<h3>Follow Me on Instagram!</h3>
<a href="https://www.instagram.com/georgewelly99/?ref=badge" class="ig-b- ig-b-48"><img src="//badges.instagram.com/static/images/ig-badge-48.png" alt="Instagram" /> </a>
<h2>Gallery</h2>
</div>
<img src="http://s14.postimg.org/h10fuflv5/IMG_1895.jpg" alt="Villiers Park Images" style="width:320px;height:563px;">

<img src="http://s11.postimg.org/b12w58v5f/IMG_1896.jpg" alt="Villiers Park Images" style="width:500px;height:320px;">




    </div>
  </div>
</div>
{% endblock %}
