{% extends "layout.html" %}

{% block content %}
<div class="container">
    <div class="row">
        

<h1>George Wellington, Royal Grammar School, High Wycombe</h1>

<h2><strong>Villiers Park Residential Day 1</strong></h2>

<h3>Objectives</h3>

<p>*To meet like minded individuals and to develop teamwork.</p>

<p>*To increase my knowledge in the field of work and study.</p>

<p>*To examine potential career paths and learn more about career paths in Computing.</p>

<p>Been sorted into group two, first presentation is "Problem Solving and Being Lazy", led
by Billy Mayor.  In smaller teams, I have chosen PHP in which we will write blogs up in.</p>

<h2>"Problem Solving and Being Lazy"</h2>

<p>This presentation was all about software engineering, how to manage problems and making them efficient.("being lazy")</p>

<p>From this presentation, I learned about writing in markdown form, for easy conversion from text to code.<br />
For example, I can write in <strong>bold</strong>, <em>italics</em>, and create  </p>

<h1>bullet points and</h1>

<ol>
<li>numbered lists</li>
</ol>

<p>Afterwords I will convert this to php through markup, currently it is being written on the text editor "Kate" in "Kubuntu".
We launched the operating system "Kubuntu" from a memory stick, as it provides more freedom.</p>

<p>I am learning about PHP from the github page <a href="https://github.com/CodeGuild-co/base-php">link</a>
na</p>

<p>links :</p>

<p>https://github.com/CodeGuild-co/base-php
https://en.wikipedia.org/wiki/Markdown
https://github.com/georgewelly/blog
https://www.heroku.com/
https://www.heroku.com/
http://majesticseabass.codeguild.co/
https://devcenter.heroku.com/articles/getting-started-with-php#declare-app-dependencies
https://dashboard.heroku.com/apps/damp-fortress-81654/settings</p>


    </div>
  </div>
</div>
{% endblock %}
