{% extends "layout.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <!DOCTYPE html><html><head><meta charset="utf-8"><title>Untitled Document.md</title><style></style></head><body id="preview">
<h2><a id="Problem_Solving_and_Being_Lazy_0"></a>“Problem Solving and Being Lazy”</h2>
<p>I’ve been sorted into group two, My first presentation is “Problem Solving and Being Lazy”, led by Billy Mayor. This presentation was all about software engineering, how to manage problems and making them efficient via being lazy. Why write code to do a job multiple times when one could write a function and save 20 lines of code and time as well? When problem solving, we should treat all our problems with a to-do list, like RAM, when we stop doing work, we should put our remaining problems into swapspace, or on a piece of paper. This makes for very efficient problem solving.</p>
<p>From this presentation, I learned about writing in markdown form, for easy conversion from text to code. I'm converting the markdown to html form so I can upload this from <a href="http://dillinger.io">here.</a><br>

For example, I can write in <strong>bold</strong>, <em>italics</em>, and create</p>
<ul>
<li>
<p>bullet points</p>
<p>and</p>
</li>
</ul>
<ol>
<li>numbered lists</li>
</ol>
<p>Afterwords I will convert this to php through markup, currently it is being written on the text editor “Kate” in “Kubuntu”.
We launched the operating system “Kubuntu” from a memory stick, as it provides more freedom when programming</p>
<p>I am learning about PHP from the github page <a href="https://github.com/CodeGuild-co/base-php">here</a>.</p>
<h3>Follow Me on Instagram!</h3>
<a href="https://www.instagram.com/georgewelly99/?ref=badge" class="ig-b- ig-b-48"><img src="//badges.instagram.com/static/images/ig-badge-48.png" alt="Instagram" /> </a>

<h2>Putting up the blog!(in pictures)</h2>
<img src="http://s7.postimg.org/ib51v6bij/IMG_1885.jpg" alt="Villiers Park Images"  style="width:320px;height:563px;">

<img src="http://s12.postimg.org/ah5eztth9/IMG_1916.jpg" alt="Villiers Park Images" data-rotate="90" style="width:484px;height:648px;">


<!-- begin wwww.htmlcommentbox.com -->
 <div id="HCB_comment_box"><a href="http://www.htmlcommentbox.com">Comment Box</a> is loading comments...</div>
 <link rel="stylesheet" type="text/css" href="//www.htmlcommentbox.com/static/skins/bootstrap/twitter-bootstrap.css?v=0" />
 <script type="text/javascript" id="hcb"> /*<!--*/ if(!window.hcb_user){hcb_user={};} (function(){var s=document.createElement("script"), l=hcb_user.PAGE || (""+window.location).replace(/'/g,"%27"), h="//www.htmlcommentbox.com";s.setAttribute("type","text/javascript");s.setAttribute("src", h+"/jread?page="+encodeURIComponent(l).replace("+","%2B")+"&mod=%241%24wq1rdBcg%24zJNBhiJiEUV0pNwp52NEV1"+"&opts=16862&num=10&ts=1457366112304");if (typeof s!="undefined") document.getElementsByTagName("head")[0].appendChild(s);})(); /*-->*/ </script>
<!-- end www.htmlcommentbox.com -->



 
</body></html>
    </div>
  </div>
</div>
{% endblock %} 
 
