{% extends "layout.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <h3>mlg init</h3>
        <p>This is not a blog post!</p>
    </div>
  </div>
</div>
{% endblock %}
 
