{% extends "layout.html" %}

{% block content %}



<meta charset="utf-8"><title>turing machines.md</title><style></style></head><body id="preview">
<h1><a id="Turing_Machines_0"></a>Turing Machines</h1>
<h5><a id="A_Talk_led_by_Billy_Mayor_AKA_Rebuilder_of_Destroyed_Worlds_3"></a>A Talk led by Billy Mayor A.K.A. “Rebuilder of Destroyed Worlds”</h5>
<p>One of my lectures was on the topic of Turing Machines, a concept developed by Turing before proper computers and programming languages were actually around. These machines could hypothetically simulate any computing algorithm, regardless of complexity. In this lecture, we tackled multiplication as a group, and I just about grasped the basic concept of Unary addition. This concept was conceived by Turing in 1936! It was a very interesting lecture, however my brain was slightly incredibly scrambled by the end. And I thought bioinformatics was hard…



<h2>Gallery</h2>
</div>
<img src="http://s27.postimg.org/9gz7w6jab/IMG_1915.jpg" alt="Villiers Park Images" style="width:560px;height:340px;">


<h3>Follow Me on Instagram!</h3>
<a href="https://www.instagram.com/georgewelly99/?ref=badge" class="ig-b- ig-b-48"><img src="//badges.instagram.com/static/images/ig-badge-48.png" alt="Instagram" /> </a>

</p>
            </p>
    </div>
  </div>
{% endblock %}
