{% extends "layout.html" %}

{% block content %}
<div class="jumbotron text-center">
    <div class="container">
        <h1>Unfiltered Ramblings</h1>
        <p>My first attempt at a blog. (written in PHP)</p>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h3>My completely and utterly incredible blog posts...</h3>
            <ul>
                <li><a href="/posts/post2/">First Day</a></li>
                <li><a href="/posts/post2backup2/">Second Day</a></li>
                
            </ul>
    </div>
  </div>
</div>
{% endblock %}
