{% extends "layout.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <h3>My First Blog Post</h3>
        <p>
George Wellington, Royal Grammar School, High Wycombe
=====================================================

Villiers Park Residential Day 1
-------------------------------

###Objectives

*To meet like minded individuals and to develop teamwork.

*To increase my knowledge in the field of work and study.

*To examine potential career paths and learn more about career paths in Computing.

I've been sorted into group two, first presentation is "Problem Solving and Being Lazy", led by Billy Mayor. The crux of this talk was enphasising the importance of "being lazy" or rather, being efficient. Why write code to do a job multiple times when one could write a function and save 20 lines of code and time as well? When problem solving, we should treat all our problems with a to-do list like RAM, when we stop doing work, we should put our remaining problems into swapspace, or on a piece of paper. This makes for very efficient problem solving. 

In smaller teams, I have chosen PHP in which we will write blogs up in, and give a presentation on why PHP is better than other coding languages.
        
        
        
            </p>
    </div>
  </div>
</div>
{% endblock %}
