<!DOCTYPE html>
<html><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8"><meta charset="utf-8"><title>Untitled Document.md</title><style></style></head><body id="preview">
<h1><a id="George_Wellington_Royal_Grammar_School_High_Wycombe_1"></a>George Wellington, Royal Grammar School, High Wycombe</h1>
<h2><a id="Villiers_Park_Residential_Day_1_4"></a>Villiers Park Residential Day 1</h2>
<h3><a id="Objectives_7"></a>Objectives</h3>
<ul>
<li>
<p>To meet like minded individuals and to develop teamwork.</p>
</li>
<li>
<p>To increase my knowledge in the field of work and study.</p>
</li>
<li>
<p>To examine potential career paths and learn more about career paths in Computing.</p>
</li>
</ul>
<p>I’ve been sorted into group two, first presentation is “Problem 
Solving and Being Lazy”, led by Billy Mayor. The crux of this talk was 
enphasising the importance of “being lazy” or rather, being efficient. 
Why write code to do a job multiple times when one could write a 
function and save 20 lines of code and time as well? When problem 
solving, we should treat all our problems with a to-do list like RAM, 
when we stop doing work, we should put our remaining problems into 
swapspace, or on a piece of paper. This makes for very efficient problem
 solving.</p>
<p>In smaller teams, I have chosen PHP in which we will write blogs up 
in, and give a presentation on why PHP is better than other coding 
languages.</p>

</body></html>